.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 90vh;
    max-width: 1500px;
    min-width: 500px;
    
}

.image-container {
    flex: 1;
    text-align: center;
    
    
}

.image-container img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: #a57cad -15px 15px 10px ;
}

.form-container {
    flex: 1;
    max-width: 500px;
    min-height: min-content;
    
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-button {
    cursor: pointer;
    color: #947eed;
    font-weight: bold;
    text-align: center;
}

.toggle-button.active {
    color: #947eed;
}
